HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/src/main/resources/certs/
/src/main/resources/pepper.txt
/src/main/resources/outlook_app_password.txt
/src/main/resources/email.txt
/src/main/resources/reply_to.txt
/src/main/resources/twilio/
src/main/resources/sslkey.jks
/src/main/resources/google/
/src/main/resources/encryption/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
