spring:
  profiles:
    active: "local"

---

spring:
  datasource:
    hikari:
      connection-init-sql: "SET current_user_id TO NULL"
  session:
    redis:
      flush-mode: on_save
      namespace: spring:session
    timeout: 30m
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis
  thymeleaf:
    check-template-location: false
  rabbitmq:
    host: localhost
    port: 5672
  config:
    import: optional:file:.env[.properties]
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    open-in-view: off
  security:
    user:
      name: "eren"
      password: "12Eren89"
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 10MB
  main:
    banner-mode: off
    allow-bean-definition-overriding: true
  docker:
    compose:
      lifecycle-management: start_only
      start:
        command: up
  cloud:
    aws:
      s3:
        region: us-east-1
  batch:
    job:
      enabled: true
  jackson:
    time-zone: UTC

logging:
  level:
    root: warn
    org:
      springframework:
        security: trace

server:
  servlet:
    session:
      timeout: 10m
      cookie:
        name: JSESSIONID
        http-only: true
        secure: true
        same-site: strict
  port: 443
  ssl:
    enabled: true
    key-store: src/main/resources/sslkey.jks
    key-alias: reformkey
    key-store-type: JKS
    key-store-password: 12Eren89


---

spring:
  config:
    activate:
      on-profile: "local"
  datasource:
    url: jdbc:postgresql://localhost:5433/resumes
    driver-class-name: org.postgresql.Driver
    username: ${LOCAL_DATABASE_USER}
    password: ${LOCAL_DATABASE_PASSWORD}


---

spring:
  config:
    activate:
      on-profile: "test"
  datasource:
    url: ${TEST_DATABASE_URL}
    driver-class-name: org.postgresql.Driver
    username: ${AURORA_TEST_USERNAME}
    password: ${AURORA_TEST_PASSWORD}

---

spring:
  config:
    activate:
      on-profile: "prod"
  datasource:
    url: ${PROD_DATABASE_URL}
    driver-class-name: org.postgresql.Driver
    username: ${AURORA_PROD_USERNAME}
    password: ${AURORA_PROD_PASSWORD}